<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">Students</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLinkActive="active-link"
            routerLink="/home"
            r
            >Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLinkActive="active-link"
            routerLink="/students"
            r
            >Students
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="languageDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Language
          </a>
          <ul class="dropdown-menu" aria-labelledby="languageDropdown">
            <li>
              <a class="dropdown-item">English</a>
            </li>
            <li>
              <a class="dropdown-item">Arabic</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <span role="button" (click)="signOut()" class="btn btn-primary"
            >Sign Out</span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
